<% layout('layouts/app') %>

<h1 class="text-center">Update Place</h1>
<div class="col-10 offset-1">
  <!-- <form action="/places/<%= place._id %>?_method=PUT" method="POST"> -->
  <form action="/places/<%= place.title %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="place[title]" id="title" value="<%= place.title %>">
    </div>
  
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" name="place[location]" id="location" value="<%= place.location %>">
    </div>
  
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="place[description]" id="description"><%= place.description %></textarea>
    </div>
  
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" name="place[price]" id="price" value="<%= place.price %>">
    </div>
  
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" name="place[image]" id="image" value="<%= place.image %>">
    </div>
  
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>