<% layout('layouts/app') %>

<h1 class="text-center">Update Place</h1>
<div class="col-10 offset-1">
  <form action="/places/<%= place.title %>?_method=PUT" method="POST" class="validated-form" novalidate>

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" name="place[title]" id="title" value="<%= place.title %>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out name of BestPoint!
      </div>
    </div>
  
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" name="place[location]" id="location" value="<%= place.location %>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out location of BestPoint!
      </div>
    </div>
  
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" name="place[description]" id="description" required><%= place.description %></textarea>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out description of BestPoint!
      </div>
    </div>
  
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" name="place[price]" id="price" value="<%= place.price %>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out price of BestPoint!
      </div>
    </div>
  
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input type="text" class="form-control" name="place[image]" id="image" value="<%= place.image %>" required>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please fill out image of BestPoint with url link!
      </div>
    </div>
  
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Save</button>
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Need Admin Permission!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="username" class="form-label">Admin Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
            <label for="password" class="form-label">Admin Password</label>
            <input type="password" class="form-control" name="password" id="password" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>