<% layout('layouts/app') %>

  <h1>All Places</h1>
  
  <ul class="my-4">

    <% for(const place of places) { %>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img class="col-12 rounded img-fluid" src="/images/<%= place.images[0].filename %>" alt="<%= place.title %>" class="img-fluid">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= place.title %></h5>
              <p class="card-text"><%= place.location %>
                <br/><small class="text-secondary">Rp <%= place.price %></small>
              </p>
              <a href="places/<%= place.title %>" class="btn btn-primary">View <%= place.title %></a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
    </ul>

    <a href="/places/create" class="btn btn-primary">Add Place</a>